* {
  border: none;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.879);
  color: #fff;
}
p {
  line-height: 22px;
}
h1 {
  font-size: 240%;
}
img {
  max-width: 100%;
}
ul {
  list-style: disc;
}
ul,
ol {
  margin: 0 0 0 1.6rem;
}
.ps-3 {
  padding-left: 1.2rem;
}
a {
  color: gray;
}
li {
  margin: 0 0 10px 0;
}
br {
  margin-bottom: 10px !important;
}
.py-5 {
  padding: 8vw;
}
.text-center {
  text-align: center;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 35px 16px;
}
.d-center-flex {
  display: flex;
  gap: 3px;
  align-items: center;
}

.main-page-section {
  display: flex;
  align-items: center;
}
.cookie-bg {
  background: url(../assets/photo-1571805529673-0f56b922b359.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: 100%;
}
.ahead-bg {
  background: url(../assets/Add_a_heading.png);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: 100%;
}
.sea-bg {
  background: url(../assets/photo-1550631392-7ecd12343eba.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: 100%;
}
.tv-bg {
  background: url(../assets/photo-1611434132218-d687f8a5f378.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: 100%;
}
.puppy-bg {
  background: url(../assets/photo-1594004844563-536a03a6e532.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: 100%;
}
.cash-bg {
  background: url(../assets/photo-1518458028785-8fbcd101ebb9.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: 100%;
}
.nasa-bg {
  background: url(../assets/nasa_buzz_aldrin_on_the_moon.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
}
.gallery-bg {
  background: url(../assets/webb2.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
}
.fit-bg {
  background: url(../assets/photo-1574680096145-d05b474e2155.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
}
.dast-bg {
  background: url(../assets/photo-1549880181-56a44cf4a9a5.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
}
.rokcet-bg {
  background: url(../assets/nasa_space_shuttle_challenger.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
}
.logisitcs-bg {
  background: url(../assets/photo-1616401784845-180882ba9ba8.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
}
.first-month-bg {
  background: url(../assets/photo-1563013544-824ae1b704d3.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
}
.oldcode-bg {
  background: url(../assets/nasa_ibm_type_704.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
}
.nasa2-bg {
  background: url(../assets/nasa_robert_stewart_spacewalk_2.jpg);
  width: 100%;
  height: 200px;
  background-position: 100%;
  background-size: cover;
}
.moon-bg {
  background: url(../assets/photo-1518365050014-70fe7232897f.jpg);
  width: 100%;
  height: 200px;
  background-position: 80%;
  background-size: cover;
}
.atm-bg {
  background: url(../assets/photo-1533421644343-45b606745fb1.jpg);
  width: 100%;
  height: 200px;
  /* background-position: 80%; */
  background-size: cover;
}
.goat-bg {
  background: url(../assets/photo-1607289852967-c952cd4543a5.jpg);
  width: 100%;
  height: 200px;
  background-position: 80%;
  background-size: cover;
}
.gym-bg {
  background: url(../assets/photo-1526506118085-60ce8714f8c5.jpg);
  width: 100%;
  height: 200px;
  background-position: 80%;
  background-size: cover;
}
.car-bg {
  background: url(../assets/photo-1617814065893-00757125efab.jpg);
  width: 100%;
  height: 200px;
  background-position: 80%;
  background-size: cover;
}
.money-bg {
  background: url(../assets/photo-1554768804-50c1e2b50a6e.jpg);
  width: 100%;
  height: 200px;
  background-position: 80%;
  background-size: cover;
}
.fish-bg {
  background: url(../assets/photo-1604417429445-2ef33ea36574.jpg);
  width: 100%;
  height: 200px;
  background-position: 100%;
  background-size: cover;
}
.hangover-bg {
  background: url(../assets/photo-1436076863939-06870fe779c2.jpg);
  width: 100%;
  height: 200px;
  background-position: 100%;
  background-size: cover;
}
.img-cont-ai-bran {
  display: flex;
  gap: 2.2rem;
  max-width: 100%;
}
.img-cont-ai-bran img {
  max-width: 100% !important;
  width: 100%;
}

@media (min-width: 800px) {
  .container {
    padding: 135px 16px;
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 55%;
  }
}
